<div id="page_wrapper">
  <div id="profile_image"> 
    <%= image_tag  "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Spike</h1>
    <p> I've been seeing the past in one eye and the present in the other. So, I thought I could only see patches of reality, never the whole picture."</p>
  </div>


</div>